<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Your Inventory</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/navigationBarStylesheet.css"/>
<link type="text/css" rel="stylesheet" href="/css/body.css"/>
</head>
<body>
<!-- Navigation Bar -->
	<div class="navigationBar">
		<div class="navigationText">
		<a href="/home">Overview</a>
			<span class="a"><a href="/inventory">Inventory</a></span>
<!-- Displays the currently active username -->
		<span class="navCurrentUser"><p>[[${#httpServletRequest.remoteUser}]] logged in.</p>
<!-- Logs the active user out -->
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
		</form>
		</span>
		</div>
	</div>
<!-- Title- Lens Inventory with lens count function  -->
	<h1>Lens Inventory <span class="goldLensCount"><span>(</span><span th:text="${lensCount}"></span><span>)</span></span></h1>
<!--An interactive lens table -->
	<table class="table">
		<tr>
			<!--Column titles -->
			<th>Manufacturer</th>
			<th>Name</th>
			<th>Focal length</th>
			<th>Largest Aperture</th>
			<th>Smallest Aperture</th>
			<th>Prime/Zoom</th>
			<th>Mount</th>
			<th>Country of origin</th>
			<th>Year Produced</th>
			<th>Serial number</th>
			<th>Comment</th>
		</tr>
		<!--A list of fetched lenses, each attribute fills column -->
		<tr th:each="lens : ${lenses}">
			<td th:text="${lens.manufacturer}"></td>
			<td th:text="${lens.name}"></td>
			<td th:text="${lens.focalLength}+mm"></td>
			<td th:text="${lens.largestAperture}"></td>
			<td th:text="${lens.smallestAperture}"></td>
			<td th:text="${lens.primeOrZoom.name}"></td>
			<td th:text="${lens.mount.name}"></td>
			<td th:text="${lens.countryOfOrigin}"></td>
			<td th:text="${lens.yearProduced}"></td>
			<td th:text="${lens.serialNumber}"></td>
			<td th:text="${lens.comment}"></td>
			<!--Edit lens button -->
			<td><div class="editLensButton"><span class="editLensButtonText"><a th:href="@{/edit/{id}(id=${lens.id})}">Edit</a></span></div></td>
			<!--Delete lens button -->
			<td sec:authorize="hasAuthority('ADMIN')">
			<div class="deleteLensButton">
			<span class="deleteLensButtonText"><a th:href="@{/delete/{id}(id=${lens.id})}">Delete</a></span></div></td>
		</tr>
	</table>
	<!--Add lens button -->
	<div class="addLensButton">
	<span class="addLensButtonText"><a href="/add">Deposit Lens</a></span>
	</div>
</body>
</html>